version: '3.5'

services:
    ttc-app:
        build:
            context: '.'
            dockerfile: ./Dockerfile
        container_name: ttc-app
        volumes:
            - ./src:/var/www/html
        networks:
            - web
            - backend
        labels:
            - "traefik.enable=true"
            - "traefik.http.routers.ttc.rule=Host(`localhost`)"
            - "traefik.http.routers.ttc.entrypoints=web"

    mysql-db:
        image: mysql:5.7
        container_name: mysql-db
        volumes:
            - ./run/var:/var/lib/mysql
        environment:
            - MYSQL_ROOT_PASSWORD=securerootpassword
            - MYSQL_DATABASE=thetopcoins_db
            - MYSQL_USER=dbuser2
            - MYSQL_PASSWORD=secret
        networks:
            backend:
                aliases:
                    - thetopcoins_db
    
    phpmyadmin:
        image: phpmyadmin/phpmyadmin
        links:
            - mysql-db
        environment:
            PMA_HOST: mysql-db
            PMA_PORT: 3306
        ports:
            - '8000:80'
        networks:
            backend:
                aliases:
                    - phpmyadmin

    traefik:
        image: "traefik:v2.4"
        restart: always
        container_name: "traefik"
        networks:
            - web
        command:
            # - "--log.level=DEBUG"
            - "--api.dashboard=true"
            - "--providers.docker=true"
            - "--providers.docker.exposedbydefault=false"
            - "--providers.docker.network=web"
            - "--entrypoints.web.address=:8080"
        ports:
            - "8080:8080"
            - "8081:8081"
        volumes:
            - "/var/run/docker.sock:/var/run/docker.sock:ro"
        labels:
            - "traefik.enable=true" 
            - "traefik.http.routers.monitor.rule=Host(`monitor.localhost`)" 
            - "traefik.http.routers.monitor.service=api@internal"

    whoami:
        image: "traefik/whoami"
        container_name: "whoami-service"
        networks:
            - web
        labels:
            - "traefik.enable=true"
            - "traefik.http.routers.whoami.rule=Host(`whoami.localhost`)"
            - "traefik.http.routers.whoami.entrypoints=web"

networks:
    web:
        external: true
    backend:
        external: false